<div class="well">
	<div class="row">
  		<div class="col-xs-12 col-md-12">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3 class="panel-title" >
						Today's Activity
					</h3>
				</div>
				<ul class="list-inline panel-body">
					<li>Gospel Presentations: <%= @daily_gospel %></li>
			  		<li>Conversions: <%= @daily_converts %></li>
			  		<li>Baptisms: <%= @daily_baptisms %></li>
			  		<li>Churches Planted: <%= @daily_church_plants %></li>
				</ul>
			</div>
		</div>
	</div>
</div>