<% @view_messages.each do |view_message| %>
	<p><%= view_message.message %> <%= view_message.username %></p>
<% end %>
<%= form_tag({controller: "messages", action: "create"}) do %>
	<%= submit_tag("Fetch") %>
<% end %>