<div>
	<%= render partial: "formtop" %>
</div>

<div class="panel panel-danger">
	<div class="panel-heading">
		<h3>No Records Found for <%= @uname %></h3>
	</div>
</div>

<div>
	<%= render partial: "daily_footer" %>
</div>
