<!DOCTYPE html>
<html>
<head>
  <title>PhoneApp</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//cdn.sublimevideo.net/js/i3nb1rk4.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
