<nav id="header" class="navbar navbar-default" role="navigation">
	<div class =""navbar-left navbar-form"">
		<a href="/messages">
			<%= image_tag("logo.png") %>
		</a>
		

		<%= link_to('Logout', logout_sessions_path, method: :delete, class: "btn btn-link navbar-right") %>
		<%= link_to('Home', messages_path, class: "btn btn-link navbar-right") %>
	</div>
</nav>