<div>
	<%= render partial: "formtop" %>
</div>
<div class='container-fluid'>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>Account created</h3>
		</div>
		<div class="panel-body">
			<%= link_to('Home', messages_path, class: "btn btn-success") %>
		</div>
	</div>
</div>


<div>
	<%= render partial: "/messages/daily_footer" %>
</div>